header {
	min-height: 4em;
	padding: 0 1em;
	background-image: var(--header-gradient);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
}

header a img {
	height: 2em; 
	width: auto; 
}

nav a img {
	height: 1.5em;
	width: auto; /* Houdt de verhoudingen van de iconen */
}

nav button {
	padding: .5em;
	display: flex;
	align-items: center;
	appearance: none;
	background-color: var(--button-background);
	border: none;
	font: inherit;
}

nav button img {
	height: 1em;
	width: auto;
}
